div.event {
  background-color: grey;
}

div.cell {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  border: solid 1px darkgrey;
}

div.chart {
  display: flex;
  flex-wrap: wrap;
}

div.event-box {
  span.resizer {
    &:hover {
      cursor: e-resize;
    }
  }
}
